name: PR API Callback V2

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  call_external_api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Call External API
        id: api_call
        run: |
          # Replace YOUR_API_ENDPOINT_URL with your actual API endpoint URL
          API_RESPONSE=$(curl -X POST -H "Content-Type: application/json" \
               -d '{
                 "pr_number": "${{ github.event.pull_request.number }}",
                 "head_branch": "${{ github.event.pull_request.head.ref }}",
                 "base_branch": "${{ github.event.pull_request.base.ref }}",
                 "repo_url": "${{ github.event.pull_request.html_url }}"
               }' \
               https://ai-rem-dev-api.scanner.opsmx.org/webhooks/github/actions)

          echo "API_RESPONSE=$API_RESPONSE" >> $GITHUB_OUTPUT

      - name: Check API Response
        id: check_response
        run: |
          STATUS=$(echo '${{ steps.api_call.outputs.API_RESPONSE }}' | jq -r .status)
          echo "RES_MESSAGE=$(echo '${{ steps.api_call.outputs.API_RESPONSE }}' | jq -r .message)" >> $GITHUB_OUTPUT
          echo "RES_URL=$(echo '${{ steps.api_call.outputs.API_RESPONSE }}' | jq -r .url)" >> $GITHUB_OUTPUT
          echo "RES_STATUS=$STATUS" >> $GITHUB_OUTPUT
          if [ "$STATUS" == "error" ]; then
            echo "API response status is error. Exiting."
            exit 1
          fi

      - name: Comment on PR with details
        id: comment_pr
        if: always()
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          script: |
            const apiResponse = JSON.parse('${{ steps.api_call.outputs.API_RESPONSE }}');
            const commentBody = `
              ### PR API Callback Details

              **PR Number:** ${{ github.event.pull_request.number }}
              **Title:** ${{ github.event.pull_request.title }}

              #### Response from AI Guardian:
              **Message:** ${{ steps.check_response.outputs.RES_MESSAGE }}
              
              **Status:** ${{ steps.check_response.outputs.RES_STATUS }}
              
              **URL:** ${{ steps.check_response.outputs.RES_URL }}
            `;

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: commentBody
            });


